Repository feryardiant/learn-bun-elysia, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, docs, deployment, api, auth, database, tests, enhancement

.github/labeler.yml:

integration:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**.yml'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - '.env.example'
          - '**.md'

deployment:
  - changed-files:
      - any-glob-to-any-file:
          - 'dockerfiles/**'

api:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/modules/*/*.controller.ts'
          - 'src/routes/*.route.ts'

auth:
  - changed-files:
      - any-glob-to-any-file:
          - src/modules/auth/**
          - src/config/auth.config.ts
          - src/plugins/auth.plugin.ts

database:
  - changed-files:
      - any-glob-to-any-file:
          - 'database/**'
          - 'src/config/db.config.ts'
          - 'src/plugins/database.plugin.ts'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**.test.ts'

enhancement:
  - changed-files:
      - any-glob-to-any-file: '**'

Update docker build config
  dockerfiles/elysia-app.dockerfile
  dockerfiles/elysia-app.dockerfile.dockerignore
Labels: deployment, enhancement

Update `AGENTS.md` file
  AGENTS.md
Labels: docs, enhancement

Follow @coderabbitai suggestions
  AGENTS.md
  database/migrations/0000_init_db.sql
  database/migrations/meta/0000_snapshot.json
  database/migrations/meta/_journal.json
  dockerfiles/elysia-app.dockerfile
  src/modules/auth/schemas/accounts.schema.ts
  src/modules/auth/schemas/sessions.schema.ts
  src/modules/feeds/schemas/comments.schema.ts
Labels: docs, deployment, auth, database, enhancement

Follow @coderabbitai suggestions again
  database/README.md
  database/migrations/0000_init_db.sql
  database/migrations/meta/0000_snapshot.json
  database/migrations/meta/_journal.json
  src/modules/auth/schemas/accounts.schema.ts
  src/modules/auth/schemas/sessions.schema.ts
  src/modules/auth/schemas/users.schema.ts
  src/modules/auth/schemas/verifications.schema.ts
  src/modules/feeds/schemas/comments.schema.ts
Labels: auth, database, enhancement

Follow @coderabbitai suggestions again and again
  database/README.md
  database/migrations/0000_init_db.sql
  database/migrations/meta/0000_snapshot.json
  database/migrations/meta/_journal.json
  src/config/db.config.ts
  src/modules/feeds/schemas/comments.schema.ts
  src/modules/feeds/schemas/posts.schema.ts
  src/modules/feeds/types.ts
  src/plugins/database.plugin.ts
  test/modules/feeds/posts.controller.test.ts
  test/modules/feeds/repositories/comment.repository.test.ts
  test/modules/feeds/repositories/post.repository.test.ts
Labels: database, enhancement
