Repository feryardiant/learn-bun-elysia, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, docs, deployment, api, auth, database, tests, enhancement

.github/labeler.yml:

integration:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/*.yml'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - '.env.example'
          - '**.md'

deployment:
  - changed-files:
      - any-glob-to-any-file:
          - 'dockerfiles/**'

api:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/modules/*/*.controller.ts'
          - 'src/routes/*.route.ts'

auth:
  - changed-files:
      - any-glob-to-any-file:
          - src/config/auth.config.ts
          - src/plugins/auth.plugin.ts

database:
  - changed-files:
      - any-glob-to-any-file:
          - 'drizzle/*.sql'
          - 'src/config/db.config.ts'
          - 'src/database/**.ts'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'test/**.test.ts'

enhancement:
  - changed-files:
      - any-glob-to-any-file: '**'

Differentiate docker config for local and staging build
  .github/workflows/docker.yml
  .gitignore
  compose.staging.yml
Labels: integration, enhancement

Change default `NODE_ENV` on docker compose files
  compose.staging.yml
  compose.yml
Labels: enhancement

Update container name
  compose.staging.yml
  compose.yml
Labels: enhancement

Clean up code styling
  biome.json
  src/config/index.ts
  src/database/schemas/sessions.schema.ts
  src/database/schemas/users.schema.ts
  src/index.ts
  src/modules/feeds/index.ts
  src/modules/feeds/repositories/index.ts
  src/plugins/error-handler.plugin.ts
  src/routes/v1.route.ts
  src/utils/errors.util.ts
Labels: api, enhancement

Move around dependencies
  bun.lock
  package.json
Labels: enhancement

Rename utility `api-response` to `response`
  AGENTS.md
  src/modules/feeds/posts.controller.ts
  src/plugins/auth.plugin.ts
  src/plugins/error-handler.plugin.ts
  src/utils/response.util.ts
  test/modules/feeds/posts.controller.test.ts
  test/plugins/error-handler.plugin.test.ts
Labels: docs, api, auth, enhancement

Messing around with `auth` routes
  src/index.ts
  src/plugins/auth.plugin.ts
  src/plugins/error-handler.plugin.ts
  src/routes/auth.route.ts
  src/routes/v1.route.ts
  src/utils/request.util.ts
Labels: api, auth, enhancement

Workaround with logger output while testing
  test/plugins/error-handler.plugin.test.ts
  test/plugins/logger.plugin.test.ts
Labels: enhancement

Make sure mocks are replace the actual implementation
  src/plugins/auth.plugin.ts
  src/plugins/error-handler.plugin.ts
  test/plugins/error-handler.plugin.test.ts
  test/plugins/logger.plugin.test.ts
Labels: auth, enhancement

Clean up things
  test/plugins/error-handler.plugin.test.ts
  test/plugins/logger.plugin.test.ts
Labels: enhancement

Fix `logger` issue while running test (#3)
  src/plugins/auth.plugin.ts
  src/plugins/error-handler.plugin.ts
  test/plugins/error-handler.plugin.test.ts
  test/plugins/logger.plugin.test.ts
Labels: auth, enhancement

Change plugin initiation as a function instead of class instance
  src/plugins/error-handler.plugin.ts
  src/plugins/logger.plugin.ts
  test/plugins/error-handler.plugin.test.ts
  test/plugins/logger.plugin.test.ts
Labels: enhancement

Apparently we don't need `schema` field here
  src/plugins/auth.plugin.ts
Labels: auth, enhancement

Switch to plural schema
  src/database/schemas/accounts.schema.ts
  src/database/schemas/sessions.schema.ts
  src/database/schemas/users.schema.ts
  src/database/schemas/verifications.schema.ts
  src/plugins/auth.plugin.ts
Labels: auth, enhancement

Move `is_anonymous` field definition
  src/plugins/auth.plugin.ts
Labels: auth, enhancement

Rearrange plugins initiation
  src/index.ts
Labels: enhancement

Add test coverage on CI
  .github/workflows/main.yml
Labels: integration, enhancement

Change plugin initiation follows bd54f7f and messing around with log
  src/plugins/auth.plugin.ts
  test/plugins/auth.plugin.test.ts
Labels: auth, enhancement

Ensure `user` instance got passed to request handler
  test/plugins/auth.plugin.test.ts
Labels: enhancement

Add `APP_DOMAIN` envvar for anonymouse user's default email domain
  .env.example
  compose.staging.yml
  compose.yml
  dockerfiles/elysia-app.dockerfile
  src/config/index.ts
  src/plugins/auth.plugin.ts
  test/routes/auth.route.test.ts
Labels: docs, deployment, auth, enhancement

Generate `lcov` test coverage report to `tmp` dir
  bunfig.toml
  test/routes/auth.route.test.ts
Labels: enhancement

Format code styles
  src/database/schemas/users.schema.ts
  src/plugins/auth.plugin.ts
  src/plugins/error-handler.plugin.ts
  src/plugins/logger.plugin.ts
Labels: auth, enhancement

Define auth table relations
  drizzle/0003_marvelous_cable.sql
  drizzle/meta/0003_snapshot.json
  drizzle/meta/_journal.json
  src/database/schemas/accounts.schema.ts
  src/database/schemas/users.schema.ts
Labels: database, enhancement

Add `auth` module to cover auth table interactions
  src/modules/auth/index.ts
  src/modules/auth/repositories/account.repository.ts
  src/modules/auth/repositories/index.ts
  src/modules/auth/repositories/session.repository.ts
  src/modules/auth/repositories/user.repository.ts
  src/modules/auth/types.ts
Labels: enhancement

Add assertion covering `users` and `sessions` creation
  test/routes/auth.route.test.ts
Labels: enhancement

Init tests for `better-auth` integration (#4)
  .env.example
  bunfig.toml
  compose.staging.yml
  compose.yml
  dockerfiles/elysia-app.dockerfile
  drizzle/0003_marvelous_cable.sql
  drizzle/meta/0003_snapshot.json
  drizzle/meta/_journal.json
  src/config/index.ts
  src/database/schemas/accounts.schema.ts
  src/database/schemas/sessions.schema.ts
  src/database/schemas/users.schema.ts
  src/database/schemas/verifications.schema.ts
  src/modules/auth/index.ts
  src/modules/auth/repositories/account.repository.ts
  src/modules/auth/repositories/index.ts
  src/modules/auth/repositories/session.repository.ts
  src/modules/auth/repositories/user.repository.ts
  src/modules/auth/types.ts
  src/plugins/auth.plugin.ts
  src/plugins/error-handler.plugin.ts
  src/plugins/logger.plugin.ts
  test/plugins/auth.plugin.test.ts
  test/routes/auth.route.test.ts
Labels: docs, deployment, auth, database, enhancement

Change `comments` and `posts` schema definition to plural, follows cbc6d2a
  src/database/schemas/comments.schema.ts
  src/database/schemas/posts.schema.ts
  src/modules/feeds/repositories/comment.repository.ts
  src/modules/feeds/repositories/post.repository.ts
  src/modules/feeds/types.ts
  test/modules/feeds/posts.controller.test.ts
  test/modules/feeds/repositories/comment.repository.test.ts
  test/modules/feeds/repositories/post.repository.test.ts
Labels: enhancement

Move schema definition into each own respective modules
  src/modules/auth/index.ts
  src/modules/auth/schemas/accounts.schema.ts
  src/modules/auth/schemas/index.ts
  src/modules/auth/schemas/sessions.schema.ts
  src/modules/auth/schemas/users.schema.ts
  src/modules/auth/schemas/verifications.schema.ts
  src/modules/auth/types.ts
  src/modules/feeds/index.ts
  src/modules/feeds/schemas/comments.schema.ts
  src/modules/feeds/schemas/index.ts
  src/modules/feeds/schemas/posts.schema.ts
  src/modules/feeds/types.ts
  test/plugins/auth.plugin.test.ts
  test/routes/auth.route.test.ts
Labels: enhancement

Move schema generation to `src/database/migrations`
  drizzle.config.ts
  drizzle/0000_charming_bug.sql
  drizzle/0001_luxuriant_romulus.sql
  drizzle/0003_marvelous_cable.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/0001_snapshot.json
  drizzle/meta/0002_snapshot.json
  drizzle/meta/_journal.json
  src/database/index.ts
  src/database/migrations/0000_init_db.sql
  src/database/migrations/meta/0000_snapshot.json
  src/database/migrations/meta/_journal.json
  src/database/schema.ts
Labels: database, enhancement

Add custom migration for testing
  src/database/index.ts
  test/plugins/error-handler.plugin.test.ts
  test/setup.ts
Labels: database, enhancement

Apply recent canges to module's repositories
  src/modules/auth/repositories/user.repository.ts
  src/modules/feeds/schemas/comments.schema.ts
  test/modules/feeds/posts.controller.test.ts
  test/modules/feeds/repositories/comment.repository.test.ts
  test/modules/feeds/repositories/post.repository.test.ts
Labels: enhancement
